name: Build WireGuard (Release Version)

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: false

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Install NDK
      run: |
        yes | sdkmanager "ndk;27.0.12077973"
        echo "NDK_HOME=$ANDROID_HOME/ndk/27.0.12077973" >> $GITHUB_ENV

    - name: Decode Keystore
      run: |
        mkdir -p ui
        echo "${{ secrets.RELEASE_KEY_B64 }}" | base64 --decode > ui/my-release-key.jks

    - name: Build Release APK
      run: |
        echo "sdk.dir=$ANDROID_HOME" > local.properties
        chmod +x gradlew
        ./gradlew assembleRelease \
          -Pandroid.injected.signing.store.file=ui/my-release-key.jks \
          -Pandroid.injected.signing.store.password=${{ secrets.RELEASE_KEY_PASSWORD }} \
          -Pandroid.injected.signing.key.alias=${{ secrets.RELEASE_KEY_ALIAS }} \
          -Pandroid.injected.signing.key.password=${{ secrets.RELEASE_KEY_ALIAS_PASSWORD }}

    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: WireGuard-Release-APK
        path: ui/build/outputs/apk/release/*.apk
